.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    animation: animation1 0.6s ease 0.6s 0 normal none;
}

.Projects h1{
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: #fe2908;
    text-align: center;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.Projects .projects-group{
    width: 90vw;
    height: 70vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Projects .projects-group ion-icon{
    font-size: 2rem;
    color: #fe2908;
}

.Projects .projects-group ion-icon:hover{
    color: #fff;
}

.Projects .projects-group .projects{
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    gap: 2rem;

    scroll-behavior: smooth;
    scrollbar-color: #fe2908 #2e2e2e;
    z-index: 9;
}

.Projects .projects-group .projects .project-box{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 30vw;
    height: 65vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Projects .projects-group .projects .project-box .box-close h2{
    font-family: 'TrinidadNeue', sans-serif;
    font-size: 2.5rem;
    color: #fe2908;
    width: 25vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projects .projects-group .projects .project-box .box-close p{
    font-size: 1.5rem;

    width: 25vw;
    height: calc(9 * 1.5rem);
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    overflow: hidden;
    position: relative;
}

.Projects .projects-group .projects .project-box .box-close p::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 1.5rem;
    background: linear-gradient(90deg, transparent, #161616);
}

/* .projects .Projects .projects-group .projects .project-box.hover */

.Projects .projects-group .projects .project-box.hover{
    border: 1px solid #fe290896;
    border-radius: 5px;
    width: 30vw;
    height: 65vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    -webkit-transition: width 0.6s 0s linear;
    -moz-transition: width 0.6s 0s linear;
    -o-transition: width 0.6s 0s linear;
    transition: width 0.6s 0s linear;
}

.Projects .projects-group .projects .project-box.hover .box{
    width: 25vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    
    -webkit-transition: width 0.6s 0s linear;
    -moz-transition: width 0.6s 0s linear;
    -o-transition: width 0.6s 0s linear;
    transition: width 0.6s 0s linear;
}

.Projects .projects-group .projects .project-box.hover .box h2{
    font-family: 'TrinidadNeue', sans-serif;
    font-size: 2.5rem;
    color: #fe2908;
    width: 25vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.Projects .projects-group .projects .project-box.hover .box p{
    rotate: 0deg;
    font-size: 1.5rem;

    width: 25vw;
    height: 30vh;
    margin: 2.5vh 0vh;
    display: flex;
    justify-content: center;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    overflow-y: scroll;
    text-align: justify;

    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.Projects .projects-group .projects .project-box.hover .box .box-img{
    width: 25vw;
    height: 22vh;
    margin-bottom: 0;
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;

    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    }
    50%{
    opacity: 0.2;
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    }
    50%{
        opacity: 0.2;
        }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 