.Header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    text-align: center;
    width: 100%;
    height: 8vh;
}

.Header .TFR{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: center;

    width: 20%;
    height: 5vh;
    left: 20px;
}

.Header .TFR p{
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    
    color: hotpink;
}

.Header .Menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    text-align: center;
    gap: 10px;

    width: 80%;
    height: 5vh;
    right: 20px;
}

.Header .Menu p{ 
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none!important;
    
    color: #FFFFFF;
}

.Header .Menu div{
    width: 1px;
    height: 20px;
    background-color: #FFFFFF;
}

.Header p:hover{ 
    color: hotpink !important;;
    text-decoration: none;
}