.background{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(100vw);
    background-image: url(../../../Assets/BlobGroup1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Inicio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Inicio .background img{
    bottom: 0;
    margin-bottom: 0px;
    margin-top: auto;
}

.Inicio .principal{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.Inicio .principal h2{
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    
    color: #FFFFFF;  
    font-family: Abstract;
}

.Inicio .principal h1{
    font-family: Abstract;
    font-size: 90px;
    color: #ccf919;
}

.Inicio .buttons{
    width: 50%;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.Inicio .buttons .button{
    width: 300px;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid #f0379a;
    border-radius: 5px;
    gap: 10px
}

.Inicio .buttons .button:hover{
    background-color: #f0379a;
}

.Inicio .buttons .button img{
    width: 37px;
}

.Inicio  .buttons .button p{
    color: #FFFFFF;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.Inicio footer{
    width: 100vw;
    height: 5vh;
    bottom: 0;
    margin-bottom: 0px;
    margin-top: auto;
    top: auto;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Inicio footer .made{
    width: 33vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Inicio footer .made p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Galilei', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.1em;
}

.Inicio footer .made p:hover{
    color: #fff;
}

.Inicio footer .made .icon{
    width: 10px;
    margin: 0 10px;
}

.Inicio footer p:hover{
    color: #f0379a;
}

.Inicio footer .social{
    width: 33vw;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.Inicio footer .social img{
    position: relative;
    width: 30px;
    left: 7vw;
    right: auto;
}

.Inicio footer .social img:hover{
    width: 31px;
    height: 31px;
    background-color: #000;
    border-radius: 50%;
}

.Inicio footer .change-language{
    width: 33vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.Inicio footer .change-language .language{
    width: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.Inicio footer .change-language .language p{
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
    font-family: 'Dosis', sans-serif;
}

.Inicio footer .change-language .language p:hover{
    color: #000;
}