.Inicio{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

.principal{
    width: 70%;
    height: 30vh;
}

.Inicio h1{
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    
    color: #FFFFFF;  
}

.Inicio h2{
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-size: 103px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #EF5DA8;

    left: calc(50% - 1004px/2 - 2px);
    top: calc(50% - 70px/2 + 30px);
    
}

.Inicio .buttons{
    width: 50%;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.Inicio .buttons .button{
    width: 300px;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 1px solid #EF5DA8;
    border-radius: 5px;
    gap: 10px
}

.Inicio .buttons .button:hover{
    background-color: #EF5DA8;
}


.Inicio .buttons .button img{
    width: 37px;
}

.Inicio  .buttons .button p{
    color: #FFFFFF;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.Inicio .footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;

    bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: right;
    margin-right: 50px;
    gap: 10px;
}

.Inicio .footer p{
    color: #FFFFFF;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.Inicio .footer p:hover{
    color: #EF5DA8;
}

.Inicio .footer .p:active::after{
    width: 100%;
    transition: width 0.3s;
}

.Inicio .footer img{
    width: 30px;
}