Body{
    background-color: #0C0C0C;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

*{
    font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        to bottom,
        #6E65AC,
        #FFC571
    );
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background-color: #474747;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
    background-color: #6E65AC;
    color: #fff;
}

div::selection{
    background-color: #6E65AC;
    color: #fff;
}

@font-face {
    font-family: Abstract;
    src: url(../Assets/Fonts/abstractgroovy-k7zdy-webfont.woff);
}

@font-face {
    font-family: AquaFont;
    src: url(../Assets/Fonts/aqua-webfont.woff);
}

@font-face {
    font-family: Orlande;
    src: url(../Assets/Fonts/orlande-webfont.woff);
}

@font-face {
    font-family: HoneyBunney;
    src: url(../Assets/Fonts/Honey\ Bunney-1063.woff), url(../Assets/Fonts/HoneyBunney\ Sans-5349.woff);
  }

@font-face {
    font-family: Galilei;
    src: url(../Assets/Fonts/galileiscript-webfont.woff);
}

/*
Verde -> #ccf919
Rosa -> #f0379a
*/