/*------------------------------    PAGE ABOUT ME   ------------------------------*/
.page .background-page-home-aboutme .AboutMe{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------    DIV PERFIL   ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
/*------------------------------    DIV ME    ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil .me{
    width: 25vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F1EFD6;
    border: #000 1px solid;
    border-radius: 5px;
}

.page .background-page-home-aboutme .AboutMe .perfil .me .me-contents img{
    width: 40vh;
    height: 40vh;
    border: 2px solid #161616;
    border-radius: 5px;
}

.page .background-page-home-aboutme .AboutMe .perfil .me .me-contents .me-info{
    width: 40vh;
    height: 25vh;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: left;
    gap: 3vh;
    z-index: 1;
}

.page .background-page-home-aboutme .AboutMe .perfil .me .me-contents .me-info ion-icon{
    font-size: 1.3rem!important;
    color:#fe2908!important;
    margin-right: 0.5vw;
    align-items: center;
    z-index: 1;
}

.page .background-page-home-aboutme .AboutMe .perfil .me .me-contents .me-info p{
    font-size: 1.3rem;
    color: #161616;
    font-family: 'Dosis', sans-serif !important;
    font-weight: 600;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.page .background-page-home-aboutme .AboutMe .perfil .me .me-contents .me-info ion-icon:hover{
    color: #fe2908;
    transition: 0.5s;
}

/*------------------------------    DIV ABOUT ME    ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil .aboutme{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .aboutme .aboutme-text{
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
    text-align: center;
}


.page .background-page-home-aboutme .AboutMe .perfil .aboutme .aboutme-text h1{
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .aboutme .aboutme-text p{
    width: 50vw;
    height: 45vh;
    display: flex;
    margin-bottom: 0;
    margin-top: auto;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #FFFFFF;
}

/*------------------------------    DIV EDUCATION ------------------------------*/
.page .background-page-home-aboutme .AboutMe .education{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education h1{
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education .education-description{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .type{
    width: 25vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    text-align: left;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .type h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  left;
    height: 60px;
    font-family: 'TrinidadNeue', sans-serif;
    font-size: 3rem;
    color: #fe2908;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .date{
    width: 15vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12vh;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .date p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .description{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vh;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    z-index: 1;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .description p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.university{
    cursor: pointer;
    z-index: 1;
}

.university  p:hover{
    color: #fe2908;
    z-index: 1;
}

.bootcamp{
    cursor: pointer;
    z-index: 1;
}

.bootcamp p:hover{
    color: #fe2908;
    z-index: 1;
}

/*------------------------------ DIV SKILLS ------------------------------*/

.page .background-page-home-aboutme .AboutMe .skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills h1{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-box{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-content{
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
    border: #161616 1px solid;
    border-radius: 5px;
    z-index: 1;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-content:hover{
    transform: scale(1.1);
    border: #fe2908 1px solid;
    border-radius: 5px;
    z-index: 1;

}

.page .background-page-home-aboutme .AboutMe .skills .skills-content p{
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #FFFFFF;
}

.page .background-page-home-aboutme .skills .skills-content img{
    width: 100px;
    height: 100px;
}