/*------------------------------    PAGE ABOUT ME   ------------------------------*/
.page .background-page-home-aboutme .AboutMe{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------    DIV PERFIL   ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-description{
    width: 90vw;
    height: fit-content;
    margin-top: 15vh;
    margin-bottom: auto;
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-description h1{
    width: 13.3vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20rem;
    color: #F1EFD6;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-description p{
    width: 60vw;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'ZerafontsAristotelica', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.1rem;
    color: #F1EFD6;

    text-align: justify;
}



/*------------------------------    .perfil-text-info   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info{
    width: 90vw;
    height: 40vh;
    gap: 1rem;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/*------------------------------    DIV LANGUAGES   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages{
    border-radius: 5px;

    width: 33vw;
    height: 23.6vh;
    margin: 0 auto auto auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------------    DIV LANGUAGES TITLE  ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p{
    width: 13vw;
    height: 16vh;
    font-family: 'TrinidadNeue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p .idi{
    width: 13vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p .idi p{
    width: 13vw;
    height: 8vh;
    font-size: 6.2rem;

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p .idi ion-icon{
    font-size: 7rem!important;
    color: #fe2908;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p .oma{
    width: 13vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p .oma p{
    font-size: 6.2rem;

    width: 13vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*------------------------------    DIV LANGUAGES INFO  ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list{
    width: 18vw;
    height: 18.9vh;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 1rem;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language{
    border: transparent 1px solid;

    width: 16.56vw;
    height: 4vh;
    padding: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content:  left;
    align-items: center;
    cursor: pointer;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language ion-icon{
    font-size: 1.3rem!important;
    color: #fe2908;
    margin-left: auto;
    margin-right: 0;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language p{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center!important;
    align-items: center!important;
    text-align: justify!important;

    font-family: 'TrinidadNeue', sans-serif!important;
    font-weight: 600!important;
    font-size: 2rem!important;
    color: #F1EFD6!important;
    letter-spacing: 0.2rem;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language:hover{
    width: 16.56vw;
    height: 4vh;
    background-color: #fe2908;
    border: #fe2908 1px solid;
}

/*------------------------------    DIV INTERESTS   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests{
    width: 34vw;
    height: 40vh;
    margin: auto;
    gap: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*------------------------------    DIV INTERESTS TITLE   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .perfil-text-info-interests-title{
    width: 14.2vw;
    height: 19vh;
    margin-top: 1.5vh;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'TrinidadNeue', sans-serif!important;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .perfil-text-info-interests-title .inte{
    width: 14.4vw;
    height: 17vh;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .perfil-text-info-interests-title .inte p{
    font-size: 6.2rem;
    text-align: left;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .perfil-text-info-interests-title ion-icon{
    font-size: 6rem!important;
    color: #fe2908;
    margin-left: auto;
    margin-right: 0;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .perfil-text-info-interests-title .resses{
    font-size: 6.2rem;
    margin-top: -3.1vh;

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*------------------------------    DIV INTERESTS LIST   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list{
    width: 18vw;
    height: 37vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-item{
    width: 11vw;
    height: 2vh;
    padding: 1rem;
    margin: auto auto auto 0;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-item p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: 'TrinidadNeue', sans-serif;
    font-size: 1.5rem;

    cursor: pointer;

    z-index: 0;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-item ion-icon{
    font-size: 1.3rem!important;
    color: #fe2908;
    margin-left: auto;
    margin-right: 0;

    z-index: 0!important;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-item p:hover{
    background-color: #fe2908;
    border: #fe2908 1px solid;
}

/*------------------------------    DIV INTERESTS ALL   ------------------------------*/
.interest-all{
    width: 0vw;
    height: fit-content;
    margin: auto auto auto 0;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-all p{
    width: 11vw;
    height: 2vh;
    padding: 1rem;
    margin: auto auto auto 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;

    font-family: 'TrinidadNeue', sans-serif;
    font-size: 1.5rem;

    cursor: pointer;

    z-index: 0;
}


/*------------------------------    DIV INTERESTS DESCRIPTION   ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-all .interest-description{
    width: fit-content;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    z-index: 1;
    z-index: 1;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info .perfil-text-info-interests .interests-list .interest-all .interest-description p{
    background-color: #161616;
    position: absolute;
    width: 14vw;
    height: fit-content;
    padding: 1rem;

    border: #F1EFD6 1px solid;
    border-radius: 5px;
    box-shadow: #000 1px 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    font-family: 'ZerafontsAristotelica', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;

    cursor: pointer;

    z-index: 1;

}


/********************************************************************************/
/*------------------------------    DIV EDUCATION ------------------------------*/
.page .background-page-home-aboutme .AboutMe .education{
    background-color: darkturquoise;
    width: 34vw;
    height: 2vh;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education h1{
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education .education-description{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .type{
    width: 25vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    text-align: left;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .type h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  left;
    height: 60px;
    font-family: 'TrinidadNeue', sans-serif;
    font-size: 3rem;
    color: #fe2908;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .date{
    width: 15vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12vh;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .date p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .description{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vh;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .description p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.university{
    cursor: pointer;
}

.university  p:hover{
    color: #fe2908;
}

.bootcamp{
    cursor: pointer;
}

.bootcamp p:hover{
    color: #fe2908;
}

/*------------------------------ DIV SKILLS ------------------------------*/

.page .background-page-home-aboutme .AboutMe .skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills h1{
    width: 90vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 3.5rem;
    color: #fe2908;
    text-align: center;
    margin-bottom: 1rem;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-box{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-content{
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
    border: #161616 1px solid;
    border-radius: 5px;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-content:hover{
    transform: scale(1.1);
    border: #fe2908 1px solid;
    border-radius: 5px;

}

.page .background-page-home-aboutme .AboutMe .skills .skills-content p{
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #FFFFFF;
}

.page .background-page-home-aboutme .skills .skills-content img{
    width: 100px;
    height: 100px;
}








