/*------------------------------    PAGE ABOUT ME   ------------------------------*/
.page .background-page-home-aboutme .AboutMe{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------    DIV PERFIL   ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    gap: 10vw;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-description{
    width: 40vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: auto 0;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-description h1{
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3.5rem;
    color: #F1EFD6;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-description p{
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #F1EFD6;
    letter-spacing: 0.1rem;
    text-shadow: rgb(112, 112, 112) 0px 0px 1px;

    text-align: justify;
    
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-description .perfil-text-info{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------------    DIV LANGUAGES   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages{
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title{
    width: 40vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem!important;
    color: #F1EFD6;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title ion-icon{
    font-size: 3rem!important;
    color: #F1EFD6;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list{
    width: 40vw;
    height: 23vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language{
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language p{
    width: 10vw!important;
    height: 10vh!important;
    padding: 0.8rem!important;

    display: flex;
    flex-direction: row;
    justify-content: center!important;
    align-items: center!important;
    text-align: center!important;

    font-family: 'TrinidadNeue', sans-serif!important;
    font-weight: 600!important;
    font-size: 1.5rem!important;
    color: #F1EFD6!important;
    letter-spacing: 0.2rem;

    background-color: #f1efd607;
    border: #F1EFD6 1px solid;
    border-radius: 5px;
    box-shadow: #000 5px 5px 10px;

    cursor: pointer;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-list .language p:hover{
    background-color: #fe2908;
    border: #fe2908 1px solid;
}

/*------------------------------    DIV INTERESTS   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests{
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests h1{
    width: fit-content!important;
    height: 8vh!important;
    display: flex;
    align-items: center;
    justify-content: center!important;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem!important;
    color: #F1EFD6;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests .interests-list{
    width: 35vw;
    height: 16vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests .interests-list .interest-item{
    width: 8vw;
    height: 5vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests .interests-list .interest-item p{
    position: relative;
    width: 8vw;
    height: 5vh;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: #F1EFD6 1px solid;
    border-radius: 5px;

    font-family: 'TrinidadNeue', sans-serif;
    font-size: 1rem;

    cursor: pointer;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests .interests-list .interest-item p:hover{
    background-color: #fe2908;
    border: #fe2908 1px solid;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests .interests-list .interest-item .interest-description{
    background-color: tomato;
    width: 10vw;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: #F1EFD6 1px solid;
    border-radius: 5px;

    font-family: 'TrinidadNeue', sans-serif;
    font-size: 1rem;

    cursor: pointer;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text .perfil-text-info .perfil-text-info-interests .interests-list .interest-item .interest-description p{
    position: absolute;
    width: 25vw;
    height: 20vh;
    padding: 1rem;

    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #F1EFD6;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-shadow: rgb(112, 112, 112) 0px 0px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    
    background-color: #131313f5;
    border: 1px solid #F1EFD6;
    border-radius: 5px;
    box-shadow: #000 0px 0px 10px;

    z-index: 99999999999999!important;
}
/*------------------------------    DIV EDUCATION ------------------------------*/
.page .background-page-home-aboutme .AboutMe .education{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education h1{
    width: 90vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 5rem;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education .education-description{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .type{
    width: 25vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    text-align: left;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .type h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  left;
    height: 60px;
    font-family: 'TrinidadNeue', sans-serif;
    font-size: 3rem;
    color: #fe2908;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .date{
    width: 15vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12vh;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .date p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .description{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vh;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}

.page .background-page-home-aboutme .AboutMe .education .education-description .description p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.university{
    cursor: pointer;
}

.university  p:hover{
    color: #fe2908;
}

.bootcamp{
    cursor: pointer;
}

.bootcamp p:hover{
    color: #fe2908;
}

/*------------------------------ DIV SKILLS ------------------------------*/

.page .background-page-home-aboutme .AboutMe .skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills h1{
    width: 90vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 3.5rem;
    color: #fe2908;
    text-align: center;
    margin-bottom: 1rem;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-box{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-content{
    width: 20vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
    border: #161616 1px solid;
    border-radius: 5px;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-content:hover{
    transform: scale(1.1);
    border: #fe2908 1px solid;
    border-radius: 5px;

}

.page .background-page-home-aboutme .AboutMe .skills .skills-content p{
    font-family: 'Thorin', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #FFFFFF;
}

.page .background-page-home-aboutme .skills .skills-content img{
    width: 100px;
    height: 100px;
}








