/*------------------------------    PAGE ABOUT ME   ------------------------------*/
.page .background-page-home-aboutme .AboutMe{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------    DIV PERFIL   ------------------------------*/
.page .background-page-home-aboutme .AboutMe .perfil{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-description{
    width: 90vw;
    height: fit-content;
    margin-top: 8vh;
    margin-bottom: auto;
    gap: 2.7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-description h1{
    width: 20.2vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 19vw;
    color: #F1EFD6;
}

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-description p{
    width: 56vw;
    height: 30vh;
    display: flex;
    justify-content: left;
    align-items: center;

    font-family: 'ZerafontsAristotelica', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 3.8vh;
    color: #F1EFD6;

    text-align: justify;
}



/*------------------------------    .perfil-text-info   ------------------------------*/

.page .background-page-home-aboutme .AboutMe .perfil .perfil-text-info{
    width: 90vw;
    height: 40vh;
    gap: 1vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}


/*------------------------------    DIV LANGUAGES   ------------------------------*/

.perfil-text-info .perfil-text-info-languages{
    border-radius: 5px;

    width: 33vw;
    height: 23.6vh;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 6vw;
    margin-right: auto;
    gap: 2vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------------    DIV LANGUAGES TITLE  ------------------------------*/

.perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title{
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    margin-bottom: auto;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.perfil-text-info .perfil-text-info-languages .perfil-text-info-languages-title .perfil-p{
    width: fit-content;
    height: fit-content;
    font-family: 'TrinidadNeue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------------------    DIV LANGUAGES PT  ------------------------------*/

.idi,
.oma{
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.idi p,
.oma p{
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;

    font-size: 5vw;
}

.idi ion-icon{
    font-size: 6vw!important;
    color: #fe2908;
}

/*------------------------------    DIV LANGUAGES INFO  ------------------------------*/

.perfil-text-info-languages-list{
    width: 18vw;
    height: 18.9vh;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.perfil-text-info-languages-list .language{
    border: transparent 1px solid;
    box-shadow: #000 1px 5px 10px;

    width: 16.56vw;
    height: 4vh;
    padding: 1vw;

    display: flex;
    flex-direction: row;
    justify-content:  left;
    align-items: center;
    cursor: pointer;
}

.perfil-text-info-languages-list .language ion-icon{
    font-size: 1vw!important;
    color: #fe2908;
    margin-left: auto;
    margin-right: 0;
}

.perfil-text-info-languages-list .language p{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center!important;
    align-items: center!important;
    text-align: justify!important;

    font-family: 'TrinidadNeue', sans-serif!important;
    font-weight: 600!important;
    font-size: 1.5vw;
    color: #F1EFD6!important;
    letter-spacing: 0.2vw;
}

.perfil-text-info-languages-list .language:hover{
    background-color: #fe2908;
    border: #fe2908 1px solid;
}

/*------------------------------    DIV INTERESTS   ------------------------------*/

.perfil-text-info .perfil-text-info-interests{
    width: 34vw;
    height: 40vh;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1vw;
    gap: 2vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*------------------------------    DIV INTERESTS TITLE   ------------------------------*/

.perfil-text-info-interests .perfil-text-info-interests-title{
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'TrinidadNeue', sans-serif!important;
}

.perfil-text-info-interests-title .inte,
.perfil-text-info-interests-title .resses{
    width: 17.5vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.inte p,
.resses p{
    font-size: 5vw;
    text-align: left;
}

.perfil-text-info-interests-title ion-icon{
    font-size: 6vw!important;
    color: #fe2908;
    margin-left: auto;
    margin-right: 0;
}

/*------------------------------    DIV INTERESTS LIST   ------------------------------*/

.interests-list{
    width: 18vw;
    height: 37vh;
    margin-top: 0;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
}

.interests-list .interest-item{
    box-shadow: #000 1px 5px 10px;

    width: 12vw;
    height: 2vh;
    margin: auto auto auto 0;
    padding: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.interests-list .interest-item p{
    width: fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: left;

    font-family: 'TrinidadNeue', sans-serif;
    font-size: 1.1vw;

    cursor: pointer;

    z-index: 0;
}

.interests-list .interest-item ion-icon{
    font-size: 1vw!important;
    color: #fe2908;
    margin-left: auto;
    margin-right: 0;

    z-index: 0!important;
}

/*------------------------------    DIV INTERESTS ALL   ------------------------------*/
.interest-all{
    width: fit-content;
    height: fit-content;
    margin: auto auto auto 0;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: justify;

    background-color: #fe2908;
    border: #fe2908 1px solid;
    box-shadow: #000 1px 5px 10px;
}

.interests-list .interest-all p{
    width: 11vw;
    height: 2vh;
    padding: 1vw;
    margin: auto auto auto 0;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    font-family: 'TrinidadNeue', sans-serif;
    font-size: 1.1vw;

    cursor: pointer;

    z-index: 0;

    background-color: #fe2908;
}


/*------------------------------    DIV INTERESTS DESCRIPTION   ------------------------------*/
.interest-all .interest-description{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-left: 5vw;
    margin-bottom: 20vh;
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    z-index: 8!important;
}

.interest-all .interest-description p{
    background-color: #161616;
    position: absolute;
    width: 10vw;
    height: fit-content;
    padding: 1vw;

    border: #f1efd621 1px solid;
    border-radius: 5px;
    box-shadow: #000 1px 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    font-family: 'ZerafontsAristotelica', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    line-height: 3vh;

    cursor: pointer;

    z-index: 1;
}


/********************************************************************************/

/*------------------------------    DIV EDUCATION ------------------------------*/
.page .background-page-home-aboutme .AboutMe .educationPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .educationPage h1{
    width: 90vw;
    height: fit-content;
    margin-top: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 4.5vw;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .educationPage .education{
    width: 90vw;
    height: 80vh;
    gap: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/*------------------------------ DIV EDUCATION TYPE ------------------------------*/
.university,
.bootcamp,
.courses{

    width: fit-content;
    height: fit-content;
    margin: 10vh auto auto auto;
    gap: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

/*------------------------------ DIV EDUCATION TITLE ------------------------------*/

.university-title,
.bootcamp-title,
.courses-title{
    width: fit-content;
    height: fit-content;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'TrinidadNeue', sans-serif;
}

.univer,
.sidade,
.boot,
.camp,
.cur,
.sos{
    width: 25vw;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
}

.education h2{
    font-size: 3.5vw;
    color: #F1EFD6;
}

.university-title ion-icon,
.bootcamp-title ion-icon,
.courses-title ion-icon{
    font-size: 3vw;
    color: #fe2908;
}

/*------------------------------ DIV EDUCATION TEXT ------------------------------*/

.university-text,
.bootcamp-text,
.courses-text{
    width: 25vw;
    height: fit-content;
    gap: 1.5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*------------------------------ DIV EDUCATION TAG ------------------------------*/

.education .tag{
    background-color: #f1efd60a;
    border: #f1efd610 1px solid;
    border-radius: 5px;

    width: fit-content;
    height: fit-content;
    margin: 1vh auto auto 0;
    padding: 0.5vw;
    gap: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.education .tag p{
    font-family: "ZerafontsAristotelica", sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: #fe2908;
    letter-spacing: 0.15vw;
}

/*------------------------------ DIV EDUCATION NAME ------------------------------*/

.university-name,
.bootcamp-name,
.courses-name{
    width: 25vw;
    margin: 0 auto auto auto;

    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;

    cursor: pointer;
}

.education h3{
    width: 20vw;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
    color: #F1EFD6;
    text-align: left;
}

/*------------------------------ DIV EDUCATION NAME - ION-ICON ------------------------------*/

.university-name ion-icon,
.bootcamp-name ion-icon,
.courses-name ion-icon{
    margin: auto 0 auto auto;
    font-size: 1vw;
    color: #fe2908;
}

/*------------------------------ DIV EDUCATION DESCRIPTION ------------------------------*/

.university-description,
.bootcamp-description,
.courses-description{
    background-color: #f1efd60a;
    border: #f1efd610 1px solid;
    border-radius: 5px;

    width: 23vw;
    height: fit-content;
    padding: 1vw;
    margin: 1vh auto auto auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.university-description p,
.bootcamp-description p,
.courses-description p{
    font-family: 'ZerafontsAristotelica', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 3.5vh;
    color: #F1EFD6;
    text-align: justify;
}

/*------------------------------ DIV EDUCATION DATA ------------------------------*/

.university-data,
.bootcamp-data,
.courses-duration{
    width: 25vw;
    margin: auto;

    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.education h4{
    margin: auto auto auto 0;

    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 1.2vw;
    color: #F1EFD6;
}

/*------------------------------ DIV EDUCATION LOCAL ------------------------------*/

.university-local,
.bootcamp-local,
.courses-local{
    width: 25vw;
    height: fit-content;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.education h5{
    margin: auto auto auto 0;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 1vw;
    color: #F1EFD6;
    text-align: justify;
}


/*------------------------------ DIV SKILLS ------------------------------*/

.page .background-page-home-aboutme .AboutMe .skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills h1{
    width: 90vw;
    height: fit-content;
    margin-top: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-size: 4.5vw;
    color: #fe2908;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-box{
    width: 80vw;
    height: 75vh;
    margin-bottom: 5.5vh;

    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-box .skills-content{
    width: 20vw;
    height: 15vh;
    padding: 0.5vw;
    gap: 1vw;
    margin: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    border: #161616 1px solid;
    border-radius: 5px;
    box-shadow: #000 1px 5px 10px;
}

.page .background-page-home-aboutme .AboutMe .skills .skills-box .skills-content:hover{
    border: #f1efd610 1px solid;
    border-radius: 5px;

}

.page .background-page-home-aboutme .AboutMe .skills .skills-box .skills-content p{
    width: 10vw;
    font-family: 'TrinidadNeue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6vw;
    color: #FFFFFF;
}

.page .background-page-home-aboutme .skills .skills-box .skills-content img{
    width: 4.5vw;
    height: auto;
}

/*------------------------------ DIV SKILLS - EXPERIENCE - DESCIPTION ------------------------------*/
.page .background-page-home-aboutme .AboutMe .skills .skills-box .skills-content .skills-experience-description{
    width: 25vw;
    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #fe2908 #2e2e2e;
}

/*------------------------------ DIV SKILLS - EXPERIENCE ------------------------------*/

.page .background-page-home-aboutme .skills .skills-box .skills-content .skills-experience-description .skills-experience{
    background-color: #f1efd60a;
    border: #f1efd610 1px solid;
    border-radius: 5px;

    width: fit-content;
    height: fit-content;
    margin: 1vh auto auto 1vw;
    padding: 0.5vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page .background-page-home-aboutme .skills .skills-box .skills-content .skills-experience-description .skills-experience p{
    font-family: "ZerafontsAristotelica", sans-serif;
    font-size: 1vw;
    font-weight: bold;
    color: #fe2908;
    letter-spacing: 0.15vw;
}

/*------------------------------ DIV SKILLS - DESCRIPTION ------------------------------*/

.page .background-page-home-aboutme .skills .skills-box .skills-content .skills-experience-description .skills-description{
    width: 18vw;
    height: fit-content;
    margin: 1.2vh auto auto 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.page .background-page-home-aboutme .skills .skills-box .skills-content .skills-experience-description .skills-description p{
    width: 18vw;
    height: fit-content;
    
    font-family: 'ZerafontsAristotelica', sans-serif;
    font-size: 1vw;
    line-height: 2.5vh;
    font-weight: bold;
    color: #FFFFFF;
}