.body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}

/*------------------------------    MENU    ------------------------------*/
.Header > div, p{
    z-index: 10!important;
}


.Header{
    position: fixed!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 100vw;
    height: 7vh;
    margin-top: 0;
    margin-bottom: auto;

    background-color: #161616d5!important;
    z-index: 10!important;
}


.Header .TFR{
    position: fixed!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 4vw;
    height: 7vh;
    margin-left: 1vw;
    margin-right: auto;
}

.Header .TFR .link p{
    color: #F1EFD6;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none!important;
    font-family: 'TrinidadNeue', sans-serif !important;
    letter-spacing: 0.1vw;
}

.Header .Menu{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    width: fit-content;
    height: 7vh;
    margin-right: 1vw;
    margin-left: auto;
    gap: 1.5vw;
}

.Header .Menu .onclick{
    background-color: transparent;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: fit-content;
    height: fit-content;
    margin: auto;
    cursor: pointer;
}

.Header .Menu p{ 
    font-size: 1vw !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none!important;
    font-family: 'TrinidadNeue', sans-serif !important;
    letter-spacing: 0.1vw;
    color: #F1EFD6;
    margin: auto;
}

Body .Header p:hover{ 
    color: #fe2908 !important;
    text-decoration: none;
}

/*------------------------------    FOOTER  ------------------------------*/
footer > div, p, ion-icon{
    z-index: 9!important;
}

footer{
    position: fixed;
    width: 100vw;
    height: 5vh;
    
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 0;
    top: auto;
    bottom: 0;
    background-color: #161616d5;
    z-index: 9!important;
}

footer .made{
    width: 33vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .made p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Galilei', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.3vw;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.1vw;
}

footer .made p:hover{
    color: #fff;
}

footer .made ion-icon{
    width: 1vw;
    margin: 0 0.5vw;
    font-size: 1vw;
    color: #fe2908;
}

footer p:hover{
    color: #fe2908;
}

footer .social{
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
}

footer .social ion-icon{
    font-size: 1.3vw;
    color: #F1EFD6;
}

footer .social ion-icon:hover{
    color:#fe2908;
}

footer .change-language{
    width: 30vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

footer .change-language .language{
    width: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 1vw;
}

footer .change-language .language p{
    font-size: 1.3vw;
    font-family: 'TrinidadNeue', sans-serif;
}

footer .change-language .language p:hover{
    color: #fe2908;
}

/*------------------------------    Principal Div   ------------------------------*/

.page{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page > div, p, h1, h2, h3, h4, h5, h6{
    z-index:  0!important;
}

/*------------------------------    WELCOME PAGE    ------------------------------*/

.page .welcome-page{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .welcome-page .welcome{
    width: 54.4vw;
    height: 85vh;
    margin: 35vh 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 5.2vw;
    font-family: 'TrinidadNeue', sans-serif;
    text-align: center;
}

.page .welcome-page .welcomeMobile,
.page .welcome-page .welcome-buttons{
    display: none;
}

/*------------------------------    BACKGROUND: PAGE HOME  AND PAGE ABOUT ME    ------------------------------*/

.page .background-page-home-aboutme{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------    PAGE HOME    ------------------------------*/

.page .background-page-home-aboutme .Inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.page .background-page-home-aboutme .Inicio .principal{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vh;
}

.page .background-page-home-aboutme .Inicio .principal h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 4.8vw;
    font-family: 'TrinidadNeue', sans-serif;
    color: #F1EFD6;
    letter-spacing:  -0.2vw;
    z-index: 1!important;
}

.page .background-page-home-aboutme .Inicio .principal h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-family: 'HoneyBunney', sans-serif;
    font-size: 12vw;
    margin-bottom: -7vh;
    color: #fe2a04;
    letter-spacing: 0vw;
    z-index: -1!important;
}

.page .background-page-home-aboutme .Inicio .principal .buttons{
    width: 50%;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5.2vw;
    margin-top: 5vh;
}

.page .background-page-home-aboutme .Inicio .principal .buttons button{
    width: 30vh;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 1px;
    border: #f1efd610 1px solid;
    box-shadow: #000 1px 1px 10px;
    gap: 0.5vw;
    cursor: pointer;
}

.page .background-page-home-aboutme .Inicio .principal .buttons button:hover{
    background-color: #fe2908;
}

.page .background-page-home-aboutme .Inicio .principal .buttons button ion-icon{
    width: 1.5vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.5vw;
}

.page .background-page-home-aboutme .Inicio .principal  .buttons button p{
    width: 6.2vw;
    height: 6vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.5vw;
    font-family: 'ZerafontsAristotelica', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}



/*------------------------------    BACKGROUND: PAGE PROJECTS    ------------------------------*/

.background-page-projects{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------------------------    BACKGROUND: PAGE CONTACT    ------------------------------*/

.background-page-contact{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media  (width <= 768px){
    .Header{
        display: none!important;
    }

    footer{
        display: none!important;
    }

    .page .welcome-page,
    .page .Inicio,
    .page .background-page-projects,
    .page .background-page-contact{
        width: 100vw!important;
        overflow-x: hidden;
        height: 100vh;
    }


    /*------------------------------    HEADER MOBILE    ------------------------------*/

    .HeaderMobile{
        width: 100vw;
        height: 12vw;

        position: fixed!important;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        z-index: 9!important;
    }

    .HeaderMobile .TFR{
        top: 2vw;
        bottom: auto;
        left: 2vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        width: 20vw;
        height: 10vw;
    }

    .HeaderMobile .TFR .link p{
        color: #F1EFD6;
        font-family: 'TrinidadNeue', sans-serif !important;
        font-size: 5vw;

        text-decoration: none!important;
        letter-spacing: 0.1vw;

        cursor: pointer;
    }

    /*------------------------------    FOOTER MOBILE    ------------------------------*/
  /*  .footerMobile{
        right: 0;
        bottom: 0;

        width: fit-content;
        height: fit-content;
        margin: auto 0.5vw 1.5vw auto;

        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        z-index: 9;
    }

    .footerMobile .MenuMobile{
        width: fit-content;
        height: fit-content;
        margin: auto 0 auto auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*------------------------------    MENU MOBILE - ul    ------------------------------*/

   /* .footerMobile .MenuMobile ul{
        position: relative;

        width: fit-content;
        height: fit-content;
        margin: auto 0 auto auto;
        gap: 2vw;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    /*------------------------------    MENU MOBILE - navbar    ------------------------------*/

   /* .footerMobile .MenuMobile ul .navbar{
        background-color: #161616d5!important;
        border: 1px solid #f1efd605;
        border-radius: 100%;
        box-shadow: #000 1px 1px 10px;

        width: 20vw;
        height: 20vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        cursor: pointer;

        z-index: 9!important;
    }

    /*------------------------------    MENU MOBILE - span    ------------------------------*/
    /*
    .footerMobile .MenuMobile ul .navbar > span{
        background-color: #F1EFD6;
        border-radius: 1px;

        display: block;

        width: 7vw;
        height: 2px;
    }

    .footerMobile .MenuMobile ul .navbar > span:not(:last-child){
        margin-bottom: 7px;
    }

    .footerMobile .MenuMobile ul .navbar, ul .navbar > span{
        transition: all .2s ease-in-out;
    }

    .footerMobile .MenuMobile ul .navbar.active{
        box-shadow: #000 1px 1px 10px;

        transition-delay: 0.4s;
        transform: rotate(45deg);
    }

    .footerMobile .MenuMobile ul .navbar.active > span{
        background-color: #fe2908;
    }

    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(2){
        width: 0;
    }
    
    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(1),
    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(3){
        transition-delay: .3s;
    }

    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(1){
        transform: translateY(9px);
    }

    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(3){
        transform: translateY(-9px) rotate(90deg);
    }

    /***************************************************************************************/

    /*------------------------------    MENU MOBILE - li    ------------------------------*/

    /*------------------------------    MENU RADIAL   --------------------------------*/
/*
    .footerMobile .MenuMobile ul > li{
        background-color: #161616d5!important;
        border: 1px solid #f1efd605;
        border-radius: 100%;
        box-shadow: #000 3px 1px 10px;

        width: 8vw;
        height: 8vw;
        padding: 2.5vw;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.3rem!important;

        transition: all .2s ease-in-out;
        transition-delay: .1s;

    }
    
    .footerMobile .MenuMobile ul > li:hover,
    .footerMobile .MenuMobile ul > li:focus,
    .footerMobile .MenuMobile ul > li:active{
        background-color: #fe2908!important;
        border-color: #fe2908;
        color: #fff;
    }


    .footerMobile .MenuMobile ul > li:nth-child(2){
        margin: 0 auto 57vw 0;

        transform: rotate(calc(0deg));
    }

    .footerMobile .MenuMobile ul > li:nth-child(3){
        margin: 0 19vw 7vw auto;

        transform: rotate(calc(-30deg));
        transform-origin: -35vw;
    }

    .footerMobile .MenuMobile ul > li:nth-child(4){
        margin: 34vw 18.5vw auto auto;

        transform: rotate(calc(-60deg));
        transform-origin: -27vw;
    }

    .footerMobile .MenuMobile ul > li:nth-child(5){
        margin: 40vw 23.84vw auto auto;

        transform: rotate(calc(-90deg));
        transform-origin: -10vw;
    }

*/

    /*------------------------------    MENU MOBILE LINEAR   ------------------------------*/
 /*   .footerMobile .MenuMobile ul > li{
        background-color: #161616d5!important;
        border: 1px solid #f1efd605;
        border-radius: 100%;
        box-shadow: #000 3px 1px 10px;

        width: 8vw;
        height: 8vw;
        padding: 2.5vw;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'TrinidadNeue', sans-serif;
        font-size: 1.3rem!important;

        transition: all .2s ease-in-out;
        transition-delay: .1s;

    }
    
    .footerMobile .MenuMobile ul > li:hover,
    .footerMobile .MenuMobile ul > li:focus,
    .footerMobile .MenuMobile ul > li:active{
        background-color: #fe2908!important;
        border-color: #fe2908;
        color: #fff;
    }
*/

.footerMobile{
  background-color: #F1EFD6;
  width: 10vw;
  height: 5vh;
  margin: auto;
  top: 50%;
  bottom: 50%;
  left: auto;
  right: 0;

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: #00000054 0px 5px 5px;

  z-index: 9;

  transition: cubic-bezier(1, 1, 1, 1) 0.2s;
}

.footerMobile img{
  position: absolute;
  width: 3vw;
  height: 3vw;
  padding: 10%;
  top: 1vh;
  margin: auto;
  rotate: -90deg;
}

.footerMobile.active{
  background-color: #F1EFD6;
  width: 20vw;
  height: 90vw;
  margin: auto;
  top: 50%;
  bottom: 50%;
  left: auto;
  right: 0;

  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  z-index: 9;

  transition: cubic-bezier(1, 1, 1, 1) 0.2s;
}

.footerMobile.active img{
  position: absolute;
  width: 3vw;
  height: 3vw;
  left: 0;
  top: auto;
  bottom: 50%;
  margin: 0 auto auto auto;
}

.footerMobile ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  height: 80%;
  right: 1vh;

  cursor: auto;
}

.footerMobile ul > li{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center!important;
  align-items: center!important;

  width: 10vw;
  height: 10vw;
  margin: auto;
  rotate: 0deg;

  cursor: pointer;
}

.footerMobile ul li > img{
  position: relative;
  width: 7vw!important;
  height: 7vw!important;
  top: 0!important;
  bottom: 0!important;
  right: 0!important;
  left: 0!important;
  padding: 0!important;
  margin: auto!important;

  rotate: 0deg!important;
}

.footerMobile ul li:hover,
.footerMobile ul li:focus,
.footerMobile ul li:active,
.footerMobile ul li::after{
  background-color: #fe2908;
  width: 10vw!important;
  height: 10vw!important;

  border-radius: 50%;
}
    /**********************************************************************************/

    /*------------------------------    WELCOME PAGE    ------------------------------*/

    /*
    .page .welcome-page:before{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        content: "";
        position: absolute;
        z-index: -1;

        display: block;
        background-image: url(../Img/black-glitch.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        -webkit-filter: blur(0.5px);
        -moz-filter: blur(0.5px);
        -o-filter: blur(0.5px);
        -ms-filter: blur(0.5px);
        filter: blur(0.5px);
    }
    */

    .page .welcome-page{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-style: italic;

        display: none;
    }

    .page .welcome-page .welcome{
        display: none;
    }

    .page .welcome-page .welcomeMobile{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
    }

    .page .welcome-page .welcomeMobile .welcome{
        width: 85vw;
        height: fit-content;
        /*
        position: absolute;
*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page .welcome-page .welcomeMobile > .welcome > :nth-child(1){
        width: 85vw;
        height: 10vh;
        left: 0;
        right: auto;

        font-size: 20vw;
        font-family: 'TrinidadNeue', sans-serif;
        word-wrap: break-word;

        text-align: justify!important;
    }

    .page .welcome-page .welcomeMobile > .welcome > :nth-child(2){
        width: 85vw;
        height: 5vh;
        left: 0;
        right: auto;
        margin-top: 1vh!important;

        font-size: 9.95vw;
        font-family: 'TrinidadNeue', sans-serif;

        text-align: justify!important;
    }

    .page .welcome-page .welcomeMobile > .welcome > :nth-child(3){
        width: 85vw;
        height: 8vh;
        left: 0;
        right: auto;
        margin-top: 1vh!important;

        font-size: 8vw;
        font-family: 'TrinidadNeue', sans-serif;
        text-align: left!important;
    }

    .page .welcome-page .welcomeMobile > .welcome :nth-child(2){
        color:transparent;
    }

    .page .welcome-page .welcomeMobile .footer-buttons{
        position: absolute;
        width: fit-content;
        height: fit-content;
        padding: 2vw;

        bottom: 0;
        right: auto;
        left: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    .page .welcome-page .footer-buttons p{
        color: #f1efd61f;
        font-size: 2.5vw;
        font-family: 'TrinidadNeue', sans-serif;
        text-align: center;
    }

    .page .welcome-page .footer-buttons ion-icon{
        color: #f1efd61f;
    }

    /*--------------------------------    HOME PAGE    --------------------------------*/
    .background-page-home-aboutme .Inicio .principal{
        display: none!important;
    }

    .Inicio .home-mobile{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
    }

    .Inicio .home-mobile .title{
        position: absolute;
        width: 90vw;
        height: 20vh;
        top: 20%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Inicio .home-mobile .title > h1{
        width: 90vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-style: normal;
        font-family: 'HoneyBunney', sans-serif;
        font-size: 24vw;
        color: #fe2a04;
        letter-spacing: 0vw;
        z-index: -1!important;
    }

    .Inicio .home-mobile .title > h2{
        width: 90vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 7.5vw;
        font-family: 'TrinidadNeue', sans-serif;
        color: #F1EFD6;
        letter-spacing:  -0.2vw;
        z-index: 1!important;
    }

    .Inicio .home-mobile .title > h2:nth-child(3){
        position: relative;
        top: -2.5vh;

        font-size: 5vw;
    }

    .Inicio .home-mobile .notebook{
        position: absolute;
        width: 100vw;
        height: 40vh;
        bottom: 10%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
    }

    .Inicio .home-mobile .notebook .notebook-structure{
        position: absolute;
        width: 100vw;
        height: 40vh;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
    }

    .Inicio .home-mobile .notebook .notebook-structure > img{
        width: auto;
        height: 50vw;
    }

    .Inicio .home-mobile .notebook .notebook-screen{
        position: absolute;
        width: 40vw;
        height: fit-content;
        margin-top: 10vw;
        margin-right: 8vw;
        gap: 1vw;

        display: flex;
        flex-direction: column;
        justify-content: left!important;
        align-items: center;

        z-index: 0;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-code{
        position: absolute;
        width: 40vw;
        height: 33.7vw;
        left: -1vw;
        right: auto;
        bottom: -7.5vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
        overflow-y: hidden;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-code > img{
        width: 38vw;
        height: auto;
        left: 1vw;

        animation-name: scroll;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-delay: 0.5s;

        z-index: 0;
    }
    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-code > img:nth-child(1) /*3*/{
        top: 0vh;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-code > img:nth-child(2) /*2*/{
        top: 5vh;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-code > img:nth-child(3) /*1*/{
        top: 12.5vh;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-code > img:nth-child(4) /*4*/{
        top: 19.5vh;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-window{
        position: absolute;
        width: fit-content;
        height: fit-content;
        right: 2vw;
        bottom: 3vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-window > img{
        width: 23vw;
        height: auto;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-window .window-text{
        position: absolute;
        width: 20vw;
        height: 7vh;
        top: -3vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-window .window-text > :nth-child(1){
        width: 20vw;
        height: 5vh;
        margin: auto;
        
        display: flex;
        justify-content: top center;
        align-items: top center;

        font-size: 2.75vw;
        font-family: 'TrinidadNeue', sans-serif;
        font-weight: 600;
        color: #f1efd6;
        margin: auto 1vw auto  1vw;
        letter-spacing: 0.1vw;
    }

    .Inicio .home-mobile .notebook .notebook-screen .notebook-screen-window .window-text :nth-child(2){
        background-color: transparent;
        color: transparent;
    }


    .Inicio .home-mobile .notebook .cards{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;
    }

    .Inicio .home-mobile .notebook .cards > div,img /*3*/{
        position: absolute;
    }

    .Inicio .home-mobile .notebook .cards .card1/*CARD CSS*/{
        width: auto;
        height: auto;
        top: 0;

        animation-name: growUp;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    .Inicio .home-mobile .notebook .cards .card1 > img:nth-child(1){
        width: 22vw;
        height: auto;

        bottom: -25vh;
        left: -48.5vw;
        z-index: 1;
        
    }

    .Inicio .home-mobile .notebook .cards .card2/*CARD REACT*/{
        width: auto;
        height: auto;
        top: 17vh;
        right: 32vw;
    }

    .Inicio .home-mobile .notebook .cards .card2 > img:nth-child(1){
        width: 20vw;
        height: auto;
        margin-left: 7vw;
        margin-right: auto;
        bottom: -3vh;

        z-index: 1;
    }

    .Inicio .home-mobile .notebook .cards .card3/*</>*/{
        width: auto;
        height: auto;
        top: 7vh;
        left: 18vw;
    }

    .Inicio .home-mobile .notebook .cards .card3 > img:nth-child(1){
        width: 20vw;
        height: auto;
        top: -0.5vh;
        
        z-index: 1;
    }

    .Inicio .home-mobile .notebook .cards .card4 /*CARD HTML*/{
        width: auto;
        height: auto;
        top: 15.5vh;
        right: 42vw;
    }

    .Inicio .home-mobile .notebook .cards .card4 > img:nth-child(1){
        width: 13vw;
        height: auto;
        right: -10vw;
        bottom: -4vh;
        z-index: 1;
    }

    @keyframes scroll {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(0px);
        }
    }
        
}