.body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}

/*------------------------------    MENU    ------------------------------*/
.Header > div, p{
    z-index: 10!important;
}


.Header{
    position: fixed!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 100vw;
    height: 7vh;
    margin-top: 0;
    margin-bottom: auto;

    background-color: #161616d5!important;
    z-index: 10!important;
}


.Header .TFR{
    position: fixed!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 4vw;
    height: 7vh;
    margin-left: 1vw;
    margin-right: auto;
}

.Header .TFR .link p{
    color: #F1EFD6;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none!important;
    font-family: 'TrinidadNeue', sans-serif !important;
    letter-spacing: 0.1vw;
}

.Header .Menu{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    width: fit-content;
    height: 7vh;
    margin-right: 1vw;
    margin-left: auto;
    gap: 1.5vw;
}

.Header .Menu .onclick{
    background-color: transparent;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: fit-content;
    height: fit-content;
    margin: auto;
    cursor: pointer;
}

.Header .Menu p{ 
    font-size: 1vw !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none!important;
    font-family: 'TrinidadNeue', sans-serif !important;
    letter-spacing: 0.1vw;
    color: #F1EFD6;
    margin: auto;
}

Body .Header p:hover{ 
    color: #fe2908 !important;
    text-decoration: none;
}

/*------------------------------    FOOTER  ------------------------------*/
footer > div, p, ion-icon{
    z-index: 9!important;
}

footer{
    position: fixed;
    width: 100vw;
    height: 5vh;
    
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 0;
    top: auto;
    bottom: 0;
    background-color: #161616d5;
    z-index: 9!important;
}

footer .made{
    width: 33vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .made p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Galilei', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.3vw;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.1vw;
}

footer .made p:hover{
    color: #fff;
}

footer .made ion-icon{
    width: 1vw;
    margin: 0 0.5vw;
    font-size: 1vw;
    color: #fe2908;
}

footer p:hover{
    color: #fe2908;
}

footer .social{
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
}

footer .social ion-icon{
    font-size: 1.3vw;
    color: #F1EFD6;
}

footer .social ion-icon:hover{
    color:#fe2908;
}

footer .change-language{
    width: 30vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

footer .change-language .language{
    width: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 1vw;
}

footer .change-language .language p{
    font-size: 1.3vw;
    font-family: 'TrinidadNeue', sans-serif;
}

footer .change-language .language p:hover{
    color: #fe2908;
}

/*------------------------------    Principal Div   ------------------------------*/

.page{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page > div, p, h1, h2, h3, h4, h5, h6{
    z-index:  0!important;
}

/*------------------------------    WELCOME PAGE    ------------------------------*/

.page .welcome-page{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .welcome-page .welcome{
    width: 54.4vw;
    height: 85vh;
    margin: 35vh 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 5.2vw;
    font-family: 'TrinidadNeue', sans-serif;
    text-align: center;
}

.page .welcome-page .welcomeMobile,
.page .welcome-page .welcome-buttons{
    display: none;
}

/*------------------------------    BACKGROUND: PAGE HOME  AND PAGE ABOUT ME    ------------------------------*/

.page .background-page-home-aboutme{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------    PAGE HOME    ------------------------------*/

.page .background-page-home-aboutme .Inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.page .background-page-home-aboutme .Inicio .principal{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vh;
}

.page .background-page-home-aboutme .Inicio .principal h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 4.8vw;
    font-family: 'TrinidadNeue', sans-serif;
    color: #F1EFD6;
    letter-spacing:  -0.2vw;
    z-index: 1!important;
}

.page .background-page-home-aboutme .Inicio .principal h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-family: 'HoneyBunney', sans-serif;
    font-size: 12vw;
    margin-bottom: -7vh;
    color: #fe2a04;
    letter-spacing: 0vw;
    z-index: -1!important;
}

.page .background-page-home-aboutme .Inicio .principal .buttons{
    width: 50%;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5.2vw;
    margin-top: 5vh;
}

.page .background-page-home-aboutme .Inicio .principal .buttons button{
    width: 30vh;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 5px;
    border: #f1efd610 1px solid;
    box-shadow: #000 1px 5px 10px;
    gap: 0.5vw;
    cursor: pointer;
}

.page .background-page-home-aboutme .Inicio .principal .buttons button:hover{
    background-color: #fe2908;
}

.page .background-page-home-aboutme .Inicio .principal .buttons button ion-icon{
    width: 1.5vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.5vw;
}

.page .background-page-home-aboutme .Inicio .principal  .buttons button p{
    width: 6.2vw;
    height: 6vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.5vw;
    font-family: 'ZerafontsAristotelica', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}



/*------------------------------    BACKGROUND: PAGE PROJECTS    ------------------------------*/

.background-page-projects{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------------------------    BACKGROUND: PAGE CONTACT    ------------------------------*/

.background-page-contact{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media  (width <= 768px){
    .Header{
        display: none!important;
    }

    footer{
        display: none!important;
    }

    .page .welcome-page,
    .page .Inicio,
    .page .background-page-projects,
    .page .background-page-contact{
        width: 100vw!important;
        overflow-x: hidden;
        height: 100vh;
    }


    /*------------------------------    HEADER MOBILE    ------------------------------*/

    .HeaderMobile{
        width: 100vw;
        height: 12vw;

        position: fixed!important;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        z-index: 9!important;
    }

    .HeaderMobile .TFR{
        top: 2vw;
        bottom: auto;
        left: 2vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        width: 20vw;
        height: 10vw;
    }

    .HeaderMobile .TFR .link p{
        color: #F1EFD6;
        font-family: 'TrinidadNeue', sans-serif !important;
        font-size: 5vw;

        text-decoration: none!important;
        letter-spacing: 0.1vw;

        cursor: pointer;
    }

    /*------------------------------    FOOTER MOBILE    ------------------------------*/
    .footerMobile{
        right: 0;
        bottom: 0;

        width: fit-content;
        height: fit-content;
        margin: auto 0.5vw 0.5vw auto;

        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        z-index: 9;
    }

    .footerMobile .MenuMobile{
        width: fit-content;
        height: fit-content;
        margin: auto 0 auto auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*------------------------------    MENU MOBILE - ul    ------------------------------*/

    .footerMobile .MenuMobile ul{
        position: relative;

        width: fit-content;
        height: fit-content;
        margin: auto 0 auto auto;
        gap: 2vw;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    /*------------------------------    MENU MOBILE - navbar    ------------------------------*/

    .footerMobile .MenuMobile ul .navbar{
        background-color: #161616d5!important;
        border: 1px solid #f1efd605;
        border-radius: 100%;
        box-shadow: #000 1px 5px 10px;

        width: 20vw;
        height: 20vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        cursor: pointer;

        z-index: 9!important;
    }

    /*------------------------------    MENU MOBILE - span    ------------------------------*/
    
    .footerMobile .MenuMobile ul .navbar > span{
        background-color: #F1EFD6;
        border-radius: 5px;

        display: block;

        width: 7vw;
        height: 2px;
    }

    .footerMobile .MenuMobile ul .navbar > span:not(:last-child){
        margin-bottom: 7px;
    }

    .footerMobile .MenuMobile ul .navbar, ul .navbar > span{
        transition: all .2s ease-in-out;
    }

    .footerMobile .MenuMobile ul .navbar.active{
        box-shadow: #000 5px 1px 10px;

        transition-delay: 0.4s;
        transform: rotate(45deg);
    }

    .footerMobile .MenuMobile ul .navbar.active > span{
        background-color: #fe2908;
    }

    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(2){
        width: 0;
    }
    
    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(1),
    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(3){
        transition-delay: .3s;
    }

    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(1){
        transform: translateY(9px);
    }

    .footerMobile .MenuMobile ul .navbar.active > span:nth-child(3){
        transform: translateY(-9px) rotate(90deg);
    }

    /***************************************************************************************/

    /*------------------------------    MENU MOBILE - li    ------------------------------*/

    /*------------------------------    MENU RADIAL   --------------------------------*/
/*
    .footerMobile .MenuMobile ul > li{
        background-color: #161616d5!important;
        border: 1px solid #f1efd605;
        border-radius: 100%;
        box-shadow: #000 3px 5px 10px;

        width: 8vw;
        height: 8vw;
        padding: 2.5vw;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.3rem!important;

        transition: all .2s ease-in-out;
        transition-delay: .1s;

    }
    
    .footerMobile .MenuMobile ul > li:hover,
    .footerMobile .MenuMobile ul > li:focus,
    .footerMobile .MenuMobile ul > li:active{
        background-color: #fe2908!important;
        border-color: #fe2908;
        color: #fff;
    }


    .footerMobile .MenuMobile ul > li:nth-child(2){
        margin: 0 auto 57vw 0;

        transform: rotate(calc(0deg));
    }

    .footerMobile .MenuMobile ul > li:nth-child(3){
        margin: 0 19vw 7vw auto;

        transform: rotate(calc(-30deg));
        transform-origin: -35vw;
    }

    .footerMobile .MenuMobile ul > li:nth-child(4){
        margin: 34vw 18.5vw auto auto;

        transform: rotate(calc(-60deg));
        transform-origin: -27vw;
    }

    .footerMobile .MenuMobile ul > li:nth-child(5){
        margin: 40vw 23.84vw auto auto;

        transform: rotate(calc(-90deg));
        transform-origin: -10vw;
    }

*/

    /*------------------------------    MENU MOBILE LINEAR   ------------------------------*/
    .footerMobile .MenuMobile ul > li{
        background-color: #161616d5!important;
        border: 1px solid #f1efd605;
        border-radius: 100%;
        box-shadow: #000 3px 5px 10px;

        width: 8vw;
        height: 8vw;
        padding: 2.5vw;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'TrinidadNeue', sans-serif;
        font-size: 1.3rem!important;

        transition: all .2s ease-in-out;
        transition-delay: .1s;

    }
    
    .footerMobile .MenuMobile ul > li:hover,
    .footerMobile .MenuMobile ul > li:focus,
    .footerMobile .MenuMobile ul > li:active{
        background-color: #fe2908!important;
        border-color: #fe2908;
        color: #fff;
    }

    /**********************************************************************************/

    /*------------------------------    WELCOME PAGE    ------------------------------*/

    .page .welcome-page{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page .welcome-page .welcome{
        display: none;
    }

    .page .welcome-page .welcomeMobile{
        width: 100vw;
        height: 100vh;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page .welcome-page .welcomeMobile .welcome{
        width: 84.5vw;
        height: 11vh;
        margin: 40vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;

        font-size: 10vw;
        font-family: 'TrinidadNeue', sans-serif;
        text-align: center;
        letter-spacing: -0.5vw;
    }

    .page .welcome-page .welcomeMobile .welcome-buttons{
        width: fit-content;
        height: fit-content;
        padding: 2vw;
        margin-top: auto;
        margin-bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    .welcome-buttons p{
        color: #f1efd61f;
        font-size: 2.5vw;
        font-family: 'TrinidadNeue', sans-serif;
        text-align: center;
    }

    .welcome-buttons ion-icon{
        color: #f1efd61f;
    }
}